<%current_user.done_courses.each do |dc|%>
    <% course = Course.find(dc.course_id) %>
    <md-card>
     <h1><%= course.title %></h1>
      <h2><%= current_user.username%> has successfully completed this course</h2>
     <img src=<%= course.image %> alt="photo" width="400px">
    </md-card>
<%end%>