<h1>Video of course</h1>
<%
  course = Course.find(params[:course_id])
%>
<%
  mp4 = course.teaser_video
  finalMp4 = mp4.sub('watch?v=', 'embed/');
%>

<div style="display: flex;">
  <md-card>
    <%course.videos.each do |c|%>
        <div class="desdiv" style="padding: 16px;"><%= c.desc %> </div>
    <%end%>
  </md-card>

  <md-card>
    <iframe id="videoFrame" src=<%= finalMp4 %> width="420"  height=300">

    </iframe>

    <!--<%course.videos.each do |c|%>-->
        <!--<iframe src=<%= c.link %> width="420"  height=300">-->
        <!--</iframe>-->
    <!--<%end%>-->

  </md-card>

</div>

<script>
  window.addEventListener('load',fun);

  var fun = function() {
      console.log("Now do");
      var changeFrame = function (e){
          console.log(e.target);
      }
      var divs = document.getElementsByClassName('desdiv');
      console.log(divs)
      for (var i = 0; i < divs.length; i++) {
          divs[i].addEventListener('click', changeFrame);
      }
  };

</script>