<h1>Video of course</h1>
<%
  course = Course.find(params[:course_id])
%>

<div style="display: flex;justify-content: center;align-items: center;">

  <md-card>
    <%course.videos.each do |c|%>
        <div class="desdiv" style="padding: 16px;"

             onclick="var frame = document.getElementById('videoFrame');
            frame.setAttribute('src', '<%= c.link %>');"><p><%= c.desc %></p></div>


    <%end%>
  </md-card>

  <md-card>
    <iframe id="videoFrame" src=<%= course.teaser_video %> width="420"  height=300">
    </iframe>
  </md-card>

</div>





