<a href="/" data-method="GET">Back</a>

<% Course.all.each do |course| %>
    <% if course.category === "Other" %>
        <md-card>

          <%url = "/course_view_home/" + course.id.to_s %>
          <h2><a href=<%= url%> ><%=  course.title %></a></h2>

          <img src=<%= course.image%> alt="photo" width="400px">
          <p><%=  course.summary %></p>
        </md-card>
    <%end%>
<% end %>